#*
*.log
*~
.cproject
.project
IP
bin/
check/results
check/reports
doc/html/index.html
doc/html/doc-*/
doc/html/scripts
doc/html/MathJax/
doc/resources/misc/parameters.set
doc/resources/misc/faq/faqdata.php
doc/resources/misc/faq/faq.inc
doc/resources/misc/visu_args_table.html
doc/resources/misc/files/visu_notebook.html
doc/resources/users/features/interactive-menu/menu.html
doc/scip.tag
stats/plots
gcg-*.metis*
lib/*
!lib/googletest-git
!lib/scip-git
!lib/soplex-git
lint.out
obj/
release
src/TAGS
src/gcg/githash.c
build*
CMakeFiles/
cmake-build-*/
.idea/
__pycache__
.vscode/
*.lp
*.mps
*.dec
*.jdec
*.set
*.test
*.solu
plots/
