[submodule "lib/scip-git"]
	path = lib/scip-git
	url = ../../gcg/scip.git
[submodule "lib/soplex-git"]
	path = lib/soplex-git
	url = ../../gcg/soplex.git
[submodule "lib/googletest-git"]
	path = lib/googletest-git
	url = ../../gcg/googletest.git
