#*
*.log
*~
.cproject
.project
IP
bin/
check/results
doc/html/index.html
doc/html/doc-*/
doc/html/scripts/*
doc/html/MathJax/
gcg-*.metis*
lib/include/bliss
lib/include/cliquer
lib/static/bliss
lib/static/cliquer
lib/cpxinc
lib/include/gtest
lib/static/lib*
lib/linkscreated.*
lib/scip
lib/soplex
lint.out
obj/
release
src/TAGS
src/githash.c
build*
CMakeFiles/
cmake-build-*/
.idea/
