bin/
obj/
src/TAGS
doc/html/
doc/gcg.tag
*.log
src/githash.c
*~
#*
IP
lint.out
.cproject
.project
gcg-metis*
release
lib/linkscreated.*
gcg-*.*.*
lib/scip
lib/gtest*
lib/libgcg*
lib/libbliss*
lib/libcplex*
lib/blissinc
lib/cpxinc
